.contacts {
  padding: 0 20px;
  background-color: transparent;
  display: none;

  @include media-tablet {
    padding: 0 72px;
  }

  @include media-desktop {
    position: relative;
    top: 95px;
    left: -327px;
    padding: 0;
    width: 565px;
    height: 200px;
    background-color: $color-white;
  }
}

.contacts__row {
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    margin-bottom: 38px;
    padding-top: 45px;
  }

  @include media-desktop {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.contacts__slogan {
  width: 220px;
  color: $color-black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  @include font-oswald-regular();

  @include media-tablet {
    font-size: 20px;
    line-height: 25px;
  }

  @include media-desktop {
    margin-top: 67px;
    margin-left: 74px;
  }
}

.contacts__col {
  color: $color-black-light;
  font-size: 14px;
  line-height: 20px;

  @include font-arial-normal();

  @include media-tablet {
    width: 155px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @include media-desktop {
    margin-top: 46px;
    margin-right: 87px;
    text-align: left;
  }
}

.contacts__address {
  margin-top: 16px;
  margin-bottom: 0;
}

.contacts__city {
  margin-top: 0;

  @include media-tablet {
    margin-top: 21px;
  }
}
