.footer {
  position: relative;
  margin-top: 13px;
}

.footer__map {
  margin-top: -28px;
  width: 100%;
  z-index: -1;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $color-gray;
}

.footer__bottom .container {
  padding: 0 20px;
  width: 100%;
}

.footer__logo {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.footer__social {
  width: 100%;
}

.footer__academy {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__academy-text {
  color: $color-black-light;
  font-size: 16px;
  line-height: 16px;

  @include font-arial-normal();
}
