.header {
  margin-top: 12px;
  padding: 0 20px;

  @include media-tablet {
    padding: 0 28px;
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  display: block;
  margin-bottom: 11px;

  @include media-tablet {
    margin-top: 11px;
    width: 177px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
