.header {
  margin-top: 12px;
  padding: 0 20px;
  border-bottom: 1px solid $color-gray-border;

  @include media-tablet {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
  }

  @include media-desktop {
    padding: 0 40px;
  }
}

.header__logo {
  display: block;
  margin-bottom: 11px;
  width: 190px;
  cursor: pointer;

  @include media-tablet {
    margin-top: 11px;
    width: 177px;
  }

  @include media-desktop {
    margin-top: 41px;
    width: 200px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
