.main-menu {
  margin: 0;

  @include ul-reset();

  @include media-tablet {
    display: flex;
    justify-content: space-between;
  }
}

.main-menu__item {
  @include media-tablet {
    &--active {
      border-bottom: 2px solid $color-green;
    }
  }
}

.main-menu__link {
  display: block;
  padding-top: 22px;
  padding-right: 0;
  padding-bottom: 22px;
  padding-left: 0;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;

  @include font-oswald-medium();

  @include media-tablet {
    padding-bottom: 5px;
    border: none;
    font-size: 18px;
    line-height: 24px;

    @include font-oswald-regular();

    &[href]:focus,
    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }

  @include media-desktop {
    padding-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
  }
}

.main-menu--index .main-menu__link {
  @include media-desktop {
    color: $color-white;
  }
}

.main-menu--index .main-menu__item {
  @include media-desktop {
    &--active {
      border-bottom: 2px solid $color-white;
    }
  }
}
