.main-index__header {
  margin: 0;
  color: $color-white;
  font-size: 36px;
  line-height: 36px;

  @include font-oswald-regular();

  @include media-tablet{
    color: $color-black;
    font-size: 60px;
    line-height: 60px;
  }
}
