.main-menu {
  @include ul-reset();
}

.main-menu__item {
}

.main-menu__link {
  display: block;
  padding: 5px 0;
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  color: $color-black;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @include font-oswald-regular();
}
