.nav-main {
  position: relative;



  @include media-tablet {
    margin-top: 11px;
    width: 62%;
  }

  @include media-desktop {
    margin-top: 40px;
    width: 39%;
  }
}

.nav-main__toggle {
  position: absolute;
  top: -42px;
  right: 2px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: $color-white;
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  @include media-tablet {
    display: none;
  }
}

.nav-main--closed .nav-main__toggle {
  top: -45px;
  right: 2px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-mobile-menu.svg");
}

@include media-mobile {
  .nav-main--closed .main-menu {
    display: none;
  }

  .nav-main--nojs .main-menu {
    display: block;
  }

  .nav-main--nojs .nav-main__toggle {
    display: none;
  }
}
