.nav-main {
  position: relative;
}

.nav-main__toggle {
  position: absolute;
  top: -50px;
  left: 225px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: $color-white;
  background-image: url(../img/icon-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  @include media-tablet {
    display: none;
  }
}
