.offers {
  padding: 0 20px;
}

.offers__list {
  @include ul-reset();

  @include media-desktop {
    display: flex;
    justify-content: space-between;
  }
}

.offers__item {
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: $color-gray;
}

.offers__header {
  position: relative;
  padding-left: 70px;
  color: $color-black;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;

  @include font-oswald-regular();

  &::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-green;
    content: "";
  }

  &::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-position: top, left;
    background-repeat: no-repeat;
    content: "";
  }

  &--minus::after {
    background-image: url("../img/icon-cat-slim.svg");
  }

  &--plus::after {
    background-image: url("../img/icon-cat-pro.svg");
  }
}

@include media-tablet {
  .offers__header {
    padding-right: 120px;
    padding-left: 10px;
    font-size: 24px;

    &::before {
      top: 5px;
      right: 5px;
      left: auto;
      width: 100px;
      height: 100px;
    }

    &::after {
      top: 5px;
      right: 5px;
      left: auto;
      width: 100px;
      height: 100px;
    }
  }
}

@include media-desktop {
  .offers__header {
    padding-right: 120px;
    padding-left: 10px;
    font-size: 24px;

    &::before {
      top: 5px;
      right: auto;
      left: 5;
      width: 100px;
      height: 100px;
    }

    &::after {
      top: 5px;
      right: auto;
      left: 5px;
      width: 100px;
      height: 100px;
    }
  }
}

.offers__link {
  position: relative;
  color: $color-black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;

  @include font-oswald-regular();

  &::after {
    position: absolute;
    top: 7px;
    left: 95px;
    width: 15px;
    height: 10px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: top, left;
    background-repeat: no-repeat;
    content: "";
  }
}

@include media-tablet {
  .offers__link {
    font-size: 20px;
    line-height: 20px;
  }
}
