.picking .container {
  padding: 0 20px;

  @include media-tablet {
    padding: 0 30px;
  }

  @include media-desktop {
    padding: 0 40px;
  }
}

.picking__header .container-header {
  &::after {
    width: 115px;
  }
}

.picking__text {
  margin-top: 37px;
  width: 242px;
  color: $color-black;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  @include font-oswald-regular();

  @include media-tablet {
    margin-top: 54px;
    margin-left: 40px;
    width: 345px;
    font-size: 20px;
    line-height: 30px;
  }

  @include media-desktop {
    margin-top: 58px;
    margin-left: 0;
  }
}

.picking__basis {
  margin-bottom: 37px;
  border-bottom: 1px solid $color-gray;

  @include media-tablet {
    margin-bottom: 76px;
    border: none;
  }

  @include media-desktop {
    display: flex;
    align-items: flex-start;
    margin-bottom: 44px;
  }
}

.picking__data {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include media-tablet {
    margin-top: 65px;
    padding-right: 40px;
    padding-left: 40px;
  }

  @include media-desktop {
    box-sizing: border-box;
    margin-top: 46px;
    padding-top: 0;
    padding-right: 41px;
    padding-bottom: 0;
    padding-left: 0;
    width: 50%;
  }
}

.picking__contacts .container {
  margin-top: 32px;
  margin-bottom: 31px;

  @include media-tablet {
    margin-top: 76px;
    margin-bottom: 63px;
    padding-right: 65px;
    padding-left: 71px;
  }

  @include media-desktop {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
    margin-bottom: 47px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.picking__comments .container {
  margin-top: 32px;
  margin-bottom: 18px;
  padding-right: 48px;
  padding-left: 18px;

  @include media-tablet {
    margin-top: 72px;
    margin-bottom: 48px;
    padding-right: 96px;
    padding-left: 68px;
  }

  @include media-desktop {
    margin-bottom: 53px;
    padding-right: 78px;
    padding-left: 41px;
  }
}

.picking__additionally {
  padding-top: 10px;
}

.picking__additionally .container {
  margin-top: 40px;

  @include media-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 26px;
    padding-left: 82px;
  }

  @include media-desktop {
    padding-top: 29px;
    padding-right: 40px;
    padding-left: 54px;
  }
}

.picking__action {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  margin-bottom: -4px;

  @include media-tablet {
    margin-top: 51px;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 32px;
    padding-bottom: 3px;
    padding-left: 42px;
    width: auto;
    border: 1px solid $color-gray-input;
  }

  @include media-desktop {
    flex-grow: 1;
    margin-top: 46px;
    margin-right: 0;
  }
}

.picking__text-control {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;

  @include media-tablet {
    margin-bottom: 19px;
  }

  @include media-desktop {
    width: 571px;
  }
}

.picking__text-input[type="number"] {
  appearance: textfield;
}

.picking__text-input[type="number"]:hover,
.picking__text-input[type="number"]:focus {
  appearance: number-input;
}

.picking__text-input[type="number"]::-webkit-inner-spin-button,
.picking__text-input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.picking__text-input {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 12px;
  width: 50px;
  border: 1px solid $color-gray-input;
  color: $color-black-light;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  @include font-oswald-medium();

  @include media-tablet {
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    border: 1px solid $color-gray-border;
  }

  &:active,
  &:focus {
    border: 1px solid $color-black-light;
  }

  &:invalid {
    border: 1px solid $color-red-invalid;
  }
}

.picking__text-svg {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 17px;
  height: 27px;
  fill: $color-black;

  @include media-tablet {
    top: 15px;
    right: 20px;
  }
}

.picking__text-input:invalid + .picking__text-svg {
  fill: $color-red-invalid;
}

.picking__text-input:focus + .picking__text-svg,
.picking__text-input:active + .picking__text-svg {
  fill: $color-green-button-hover;
}

.picking__text-control--tel .picking__text-input,
.picking__text-control--email .picking__text-input {
  padding-right: 50px;
}

.picking__text-label {
  flex-shrink: 0;
  margin-right: 10px;
  color: $color-black2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  @include font-oswald-regular();

  @include media-tablet {
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

.picking__radio-button {
  position: relative;
  margin-bottom: 24px;
  margin-left: 46px;
  color: $color-black2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  @include font-oswald-regular();

  &::before {
    position: absolute;
    top: -7px;
    left: -46px;
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid $color-gray-input;
    border-radius: 50%;
    content: "";
  }
}

.picking__radio-button:hover,
.picking__radio-button:focus {
  &::before {
    border: 1px solid $color-gray-border;
  }
}

.picking__radio-button:active {
  opacity: 0.3;
}

.picking__radio-input:checked + .picking__radio-button {
  &::after {
    position: absolute;
    top: 2px;
    left: -37px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $color-background-green;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }
}

@include media-tablet {
  .picking__radio-button {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: -10px;
      left: -61px;
      width: 40px;
      height: 40px;
    }
  }

  .picking__radio-input:checked + .picking__radio-button {
    &::after {
      top: 2px;
      left: -49px;
      width: 18px;
      height: 18px;
    }
  }
}

.picking__textarea {
  margin-top: 2px;
  padding: 13px 13px;
  width: 100%;
  height: 121px;
  border: 1px solid $color-gray-input;
  color: $color-black-light;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  resize: none;

  @include font-oswald-regular();

  @include media-tablet {
    margin-top: 5px;
    padding: 16px 16px;
    height: 146px;
    font-size: 20px;
    line-height: 20px;
  }

  @include media-desktop {
    padding: 18px 18px;
    height: 137px;
  }
}

.picking__check-control {
  margin-bottom: 22px;
  width: 100%;

  @include media-tablet {
    margin-bottom: 49px;
    width: 250px;
  }

  @include media-desktop {
    margin-right: 105px;
    width: 220px;
  }
}

.picking__check-control:nth-child(2n) {
  @include media-tablet {
    margin-left: 95px;
  }

  @include media-desktop {
    margin-left: 0;
  }
}

.picking__check-control:last-child {
  @include media-desktop {
    margin-right: 0;
  }
}

.picking__check-box {
  position: relative;
  margin-bottom: 24px;
  margin-left: 46px;
  color: $color-black2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  @include font-oswald-regular();

  &::before {
    position: absolute;
    top: -3px;
    left: -46px;
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid $color-gray-input;
    content: "";
  }
}

@include media-tablet {
  .picking__check-box {
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: -6px;
      left: -60px;
      width: 38px;
      height: 38px;
    }
  }
}

.picking__check-input:checked + .picking__check-box {
  &::after {
    position: absolute;
    top: 2px;
    left: -46px;
    width: 30px;
    height: 18px;
    background-image: url("../img/icon-tick.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }
}

@include media-tablet {
  .picking__check-input:checked + .picking__check-box {
    &::after {
      top: 5px;
      left: -50px;
      width: 24px;
      height: 18px;
    }
  }
}

.picking__check-box:focus,
.picking__check-box:hover {
  &::before {
    border: 1px solid $color-gray-border;
  }
}

.picking__check-box:active {
  opacity: 0.3;
}

.picking__button-control {
  margin-top: 38px;

  @include media-tablet {
    display: flex;
    margin-top: 12px;
    padding-left: 40px;
  }

  @include media-desktop {
    margin-top: 20px;
  }
}

.picking__button {
  width: 100%;
  border: none;
  font-size: 16px;
  line-height: 20px;

  @include font-oswald-regular();

  @include media-tablet {
    margin-left: 40px;
    width: 283px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
  }

  @include media-desktop {
    margin-left: 0;
    width: 570px;
  }
}

.picking__note {
  margin-top: 20px;
  margin-bottom: 29px;
  text-align: center;

  @include media-tablet {
    margin-top: 16px;
    margin-bottom: 93px;
    margin-left: 59px;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }

  @include media-desktop {
    margin-bottom: 103px;
    margin-left: 80px;
  }
}
