.social-menu {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding-top: 27px;
  padding-bottom: 20px;
  border-top: 1px solid $color-gray-border;
  border-bottom: 1px solid $color-gray-border;

  @include ul-reset();

  @include media-tablet {
    margin-left: 23px;
    padding-top: 23px;
    border-top: none;
    border-bottom: none;
  }
}

.social-menu__item {
  margin-right: 18px;
  margin-left: 18px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@include media-tablet {
  .social-menu__item {
    margin-right: 14px;
    margin-left: 14px;
  }
}

.social-menu__svg {
  fill: $color-gray-icon;
}

.social-menu__link:hover .social-menu__svg,
.social-menu__link:focus .social-menu__svg {
  fill: $color-green-button-hover;
}

.social-menu__link:active .social-menu__svg {
  opacity: 0.6;
}

.social-menu__svg--small {
  display: block;
}

.social-menu__svg--big {
  display: none;
}

@include media-tablet {
  .social-menu__svg--small {
    display: none;
  }

  .social-menu__svg--big {
    display: block;
  }
}

.social-menu__link--vk .social-menu__svg--small {
  width: 22px;
  height: 12px;
}

.social-menu__link--vk .social-menu__svg--big {
  margin-top: 3px;
  width: 30px;
  height: 16px;
}

.social-menu__link--instagramm .social-menu__svg--small {
  width: 16px;
  height: 16px;
}

.social-menu__link--instagramm .social-menu__svg--big {
  margin-top: -4px;
  width: 23px;
  height: 23px;
}

.social-menu__link--facebook .social-menu__svg--small {
  width: 22px;
  height: 12px;
}

.social-menu__link--facebook .social-menu__svg--big {
  width: 14px;
  height: 28px;
}
