body {
  margin: 0;
  padding: 0;
  min-width: $width-mobile;
  background-color: $color-white;
  color: $color-black-light;
  counter-reset: tech-counter;
  font-size: 14px;
  line-height: 18px;

  @include font-arial-normal();
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;

  appearance: none;
}

.sprite {
  display: none;
}
