@mixin media-mobile {
  @media (max-width: $width-tablet - 1px) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $width-tablet) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: $width-desktop) {
    @content;
  }
}

@mixin ul-reset {
  padding-left: 0;
  list-style: none;
}

@mixin font-arial-normal {
  font-weight: 300;
  font-family: $font-arial;
}

@mixin font-oswald-regular {
  font-weight: 400;
  font-family: $font-oswald;
}

@mixin font-oswald-medium {
  font-weight: 600;
  font-family: $font-oswald;
}

@mixin retina {
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    @content;
  }
}
