@mixin media-mobile {
  @media (min-width: $width-mobile) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $width-tablet) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: $width-desktop) {
    @content;
  }
}

@mixin font-arial-normal {
  font-family: $font-arial;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: $color-black;
}

@mixin font-oswald-regular {
  font-family: $font-oswald;
  font-weight: 400;
}
