$color-black: #111111;
$color-black2: #222222;
$color-black-light: #444444;
$color-gray: #f2f2f2;
$color-gray-border: #cdcdcd;
$color-gray-input: #e6e6e6;
$color-gray-icon: #666666;
$color-white: #ffffff;
$color-green: #68b738;
$color-background-green: #63a73a;
$color-green-button-hover: #5eaa2f;
$color-red-invalid: #ff8282;

$font-oswald: "Oswald", "Arial Narrow", sans-serif;
$font-arial: "Arial", "Arial", sans-serif;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1300px;
