$color-black: #111111;
$color-black2: #222222;
$color-black-lihgt: #444444;
$color-gray: #f2f2f2;
$color-gray-border: #cdcdcd;
$color-white: #ffffff;
$color-green: #68b738;

$font-oswald: "Oswald", "Arial Narrow", sans-serif;
$font-arial: "Arial", "Arial", sans-serif;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1300px;
